
.project-list__module {
    position: relative;

    .design-element-line-container {
        position: absolute;
        z-index: -1;
        // left: 115px;
        left: 25%;
        top: 200px;
        height: calc(100% - 150px);
        width: 3px;
        // background-color: color(accent);
        overflow: hidden;
        
        @media (min-width: breakpoint(xs)) {
            left: 35%;
        }

        @media (min-width: breakpoint(sm)) {
            display: none;
        }
    }

    .design-element-line {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: color(accent);
        transform: translateY(-100%);
        transition: .45s $custom_easing transform;
        transition-delay: 450ms;
    }

    &.sal-animate .design-element-line {
        transform: translateY(0);
    }
}