
.content-page-hero-titles__module {

    .project-title {
        font-family: $font_header_alt;
        color: color(primary);
        letter-spacing: 2px;
        font-size: px-to-rem(38px);
        text-transform: uppercase;
        line-height: 40px;
        font-weight: 900;
        margin: 0 0 .35rem 0;
        word-spacing: 9999999px; 

        @media (min-width: breakpoint(xs)) {
            font-size: px-to-rem(47px);
            line-height: 49px;
            margin: 0 0 .5rem 0;
        }

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(55px); // browser fallback
            font-size: calc((23px + 5vw));
            line-height: 57px; // browser fallback
            line-height:calc((25px + 5vw));
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(70px); // browser fallback
            font-size: calc((32px + 5vw));
            line-height: 72px; // browser fallback
            line-height:calc((35px + 5vw));
            letter-spacing: 3px;
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(90px); // browser fallback
            font-size: calc((40px + 5vw));
            line-height: 92px; // browser fallback
            line-height:calc((42px + 5vw));
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(115px);
            line-height: 117px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 3px;
            border-radius: 50%;
            background-color: color(primary);

            @media (min-width: breakpoint(sm)) {
                width: 20px;
                height: 20px;
                margin-left: 6px;
            }

            @media (min-width: breakpoint(md)) {
                width: 24px;
                height: 24px;
            }

            @media (min-width: breakpoint(lg)) {
                width: 28px;
                height: 28px;
            }

            @media (min-width: breakpoint(xl)) {
                width: 36px;
                height: 36px;
                margin-left: 10px;
            }
        }
    }

    .sub-title {
        margin: 0;
        font-size: px-to-rem(16px);
        font-weight: 300;
        font-style: italic;
        color: color(accent);


        @media (min-width: breakpoint(xs)) {
            font-size: px-to-rem(16px);
        }

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(18px);   
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(20px);
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(23px);
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(26px);
        }
    }

    .sub-text-container {
        display: flex;
    }

    .project-link-container {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .project-link {
        font-size: px-to-rem(16px);

        @media (min-width: breakpoint(xs)) {
            font-size: px-to-rem(20px);
        }

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(22px);
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(24px);
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(27px);
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(30px);
        }     
    }

    .project-icon {
        margin-left: 10px;
        width: 20px;

        @media (min-width: breakpoint(xs)) {
            width: 22px;
        }

        @media (min-width: breakpoint(sm)) {
            width: 24px;
           
        }

        @media (min-width: breakpoint(md)) {
            width: 26px;
        }

        @media (min-width: breakpoint(lg)) {
            width: 30px;
            margin-left: 12px;
        }

        @media (min-width: breakpoint(xl)) {
            width: 32px;
        }
    }

    .year-text-wrapper {
        margin-left: 7.5%;

        @media (min-width: breakpoint(xs)) {
            margin-left: 6%;
        }
    }

    .year-text {
        display: block;
        font-size: px-to-rem(22px);
        font-weight: 800;
        font-family: $font_header_alt;
        // margin-top: 10px;
        // margin-bottom: 3px;

         @media (min-width: breakpoint(xs)) {
            font-size: px-to-rem(25px);
        }

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(28px);
        }
        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(34px);
        }
    
        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(40px);
            // margin-bottom: 1px;
        }

       
    }   
}