
.featured-experience-card__module {
    display: none;
    font-size: px-to-rem(14px);

    @media (min-width: breakpoint(md)) {
        font-size: px-to-rem(16px);
    }

    @media (min-width: breakpoint(xl)) {
        font-size: px-to-rem(18px);
    }

    &.active {
        display: block;
    }

    .location-and-dates-container {
        display: flex;
        flex-direction: column-reverse;

        @media (min-width: breakpoint(sm)) {
            flex-direction: row;
            align-items: flex-end;
            // justify-content: space-between;
        }
    }

    .job-location {
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .job-dates {
        font-family: $font_header_alt;
        margin-bottom: 6px;
        margin-top: 0;
        font-size: px-to-rem(30px);
        font-weight: 800;
        overflow: hidden;

        @media (min-width: breakpoint(sm)) {
            margin-left: 60px;
            margin-bottom: 8px;
        }

        @media (min-width: breakpoint(md)) {
            margin-left: 80px;
            font-size: px-to-rem(35px);
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(42px);
        }

        .text-displacement {
            display: block;
            transform: translateY(13px);

            @media (min-width: breakpoint(md)) {
                transform: translateY(17px);
            }

            @media (min-width: breakpoint(xl)) {
                transform: translateY(18px);
            }
        }
    }

    .job-title {
        color: color(accent);
        margin-top: 0;
        margin-bottom: 10px;
        font-size: inherit;
    }

    .job-links {    
        display: flex;
        font-style: italic;
        font-weight: 300;
        margin-top: -4px;
        margin-bottom: 10px;
        // margin-left: 5px;

        @media (min-width: breakpoint(sm)) {
            margin-left: 5px;
        }

        > img {
            width: 14px;
            margin-left: 10px;

            @media (min-width: breakpoint(sm)) {
                width: 16px;
                margin-left: 20px;
            }
        }

        &, a {
            color: color(accent);
        }
    }

    .job-description-bullets {

        > li {
            position: relative;
            margin-top: 0;
            margin-bottom: 10px;
            // margin-left: 12px;

            @media (min-width: breakpoint(sm)) {
                margin-left: 12px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: -8px;
                top: 6px;
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: color(secondary);
            }
        }

        .description-bullet-links {
            font-weight: 300;
            font-style: italic;
            margin-top: 5px;
            margin-left: 5px;
        }
    }
}

  