
.jr-button__module {
    cursor: pointer;

    &.standard {
        display: flex;
        align-items: center;
        font-style: italic;
        justify-content: center;
        background: color(page_background);
        font-size: px-to-rem(16px);
        font-weight: 500;
        color: color(secondary);
        transition: .3s color;
        

        .text {
            position: relative;
            overflow: hidden;
     
             &::before {
                 content: '';
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 border-bottom: 1px solid color(accent);
                 width: 100%;
                 transform: translateX(-100%);
                 transition: .25s $custom_easing transform;
             }
        }


        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }

        .detail-btn-pointer {
            margin-left: 8px;
        }
    
        &:hover {
            color: color(accent);
        }
        
        &:hover {
            color: color(accent);
       }
    }

    &.large {
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 1rem;
        margin-top: 25px;
        font-size: px-to-rem(16px);
        font-weight: 700;
        color: color(page_background);
        background-color: color(primary);
        text-align: left;
        overflow: hidden;

        @media (min-width: breakpoint(sm)) {
            margin-top: 0px;
            padding: 10px 1rem;
        }
    
        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }
    
        .text {
            margin-right: 10px;
        }
    }

}