
.numbered-section-title__module {
    position: relative;
    width: 100px;
    overflow: hidden;
    min-width: 90px;
    // margin-left: -10px;
    // margin-left: -20px;

    @media (min-width: breakpoint(xs)) {
        margin-left: 0;
    }

    img {
        width: 84px;
        margin-left: -40px;

        @media (min-width: breakpoint(xs)) {
            margin-left: 0;
        }
    }

    .title {
        position: absolute;
        right: 0;
        bottom: 40px;
        width: 91px;
        font-size: px-to-rem(16px);
        font-weight: 500;
    }
}