
.numbered-section-title__module {
    position: relative;
    width: 100px;
    overflow: hidden;
    min-width: 90px;

    @media (min-width: breakpoint(xs)) {
        margin-left: 0;
    }

    @media (min-width: breakpoint(sm)) {
        width: 170px
    }

    img {
        width: 84px;
        margin-left: -40px;

        @media (min-width: breakpoint(xs)) {
            margin-left: 0;
        }

        @media (min-width: breakpoint(sm)) {
           width: 115px; 
        }

        @media (min-width: breakpoint(md)) {
            width: 135px; 
         }

         @media (min-width: breakpoint(lg)) {
             width: 144px;
         }

         @media (min-width: breakpoint(xl)) {
            width: 152px;
        }
    }

    .title {
        position: absolute;
        right: 0;
        bottom: 40px;
        width: 91px;
        font-size: px-to-rem(16px);
        font-weight: 500;

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(22px);
            width: 150px;
            bottom: 20px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(25px);
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(28px);
        }
    }
}