
.check-mark__module {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    box-shadow: 1px 1px 2px #24262B, -1px -1px 2px #30343A;
    border-radius: 50px;
    cursor: pointer;

    @media (min-width: breakpoint(xxl)) {
        width: 85px;
        height: 85px;
    }
}