
.contact-modal__module {
    box-shadow: 18px 18px 20px #24262B, -18px -18px 20px #30343A;
    max-width: 445px;
    border-radius: 20px;

    .left {

    }

    .contact-modal-right {
        padding: 25px 35px;
    }

    .title {
        font-size: px-to-rem(23px);
        font-weight: 700;
        color: color(primary);
        margin: 0 0 5px 0;
    }

    .description {
        font-size: px-to-rem(14px);
        margin: 0;
    }

    .bottom-button-container {
        margin-top: 50px;
    }

    .bottom-button {
        margin-left: 50px;
    }

    .flag-text {
        color: color(accent);
        font-weight: 300;
        font-style: italic;
        margin: 0 0 5px 0;
    }
}