
.contact__module {
    position: relative;
    margin-top: -55px;
    margin-bottom: 40px;

    @media (min-width: breakpoint(md)) {
        margin-top: -75px;
        margin-bottom: 55px;
    }

    @media (min-width: breakpoint(lg)) {
        padding-left: 200px;
    }

    .titles-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 25px;

        @media (min-width: breakpoint(sm)) {
            max-width: 520px;
        }

        @media (min-width: breakpoint(md)) {
            max-width: 580px;
        }
    }

    .section-titles {
        position: relative;
        top: -35px;

        @media (min-width: breakpoint(sm)) {
            top: 0;
        }

        @media (min-width: breakpoint(lg)) {
            position: absolute;
            left: 0;
            top: 50px;
        }
    }

    .contact-form {
        padding: 0 10px;
    }

    .contact-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .contact-label-text {
        font-size: px-to-rem(23px);
        font-weight: 800;
        color: color(accent);
        margin-bottom: 8px;
    }

    .contact-input, .contact-textarea {
        font-size: px-to-rem(16px);
        
        padding: 8px 10px;
        border: none;

        &:active, &:focus {
            outline: none;
        }
    }

    .contact-input {
        background-color: color(primary);
        color: color(tertiary);
        font-weight: 300;
        

        @media (min-width: breakpoint(sm)) {
            width: 75%;
            max-width: 412px;
        }

        // @media (min-width: breakpoint(lg)) {
        //     max-width: 490px;
        // }
    }

    .contact-textarea {
        color: color(primary);
        background: rgba(color(accent), .09);
        font-weight: 500;
        resize: none;

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &::placeholder,
        &:-ms-input-placeholder {
            color: color(primary);
        }
    }

    .contact-submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 34px;
        background-color: color(accent);
        color: color(tertiary);
        font-size: px-to-rem(23px);
        font-weight: 800; 
    }

}