
.contact__module {
    margin-top: -50px;

    .titles-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .section-titles {
        position: relative;
        top: -15px;
    }

}