
.footer__module {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 25px;

    @media (min-width: breakpoint(md)) {
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .download-btn {
        position: relative;
        z-index: 0;
        color: color(page_background);
        margin: 12px 0 0 0;
        padding: 8px 15px;
        background-color: color(secondary);
        font-weight: 700;
        border-radius: 5px;
        font-size: px-to-rem(14px);

        @media (min-width: breakpoint(md)) {
            padding: 9px 21px;
        }

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(16px);
            margin: 15px 0 0 0;
        }
    }

    .copyright {
        font-size: px-to-rem(14px);
        font-weight: 300;
        font-style: italic;
        margin: 12px 0 0 0;

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(16px);
            margin: 15px 0 0 0;
        }
    }

    .footer-social-icon {

        @media (min-width: breakpoint(md)) {
            width: 32px;
            margin-right: 2px;
        }
    }
}