
.filter-button__module {
    position: relative;
    background-color: color(background_alt);
    color: color(secondary);
    border-radius: 50px;
    padding: 12px 20px;
    font-size: px-to-rem(12px);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .0s color linear 0.5s;

    @media (min-width: breakpoint(xxl)) {
        font-size: px-to-rem(14px);
    }
}