
.jr-link__module {
    display: flex;
    align-items: center;
    font-style: italic;

   .inner-text {
       position: relative;
       overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid color(accent);
            width: 100%;
            transform: translateX(-100%);
            transition: .25s $custom_easing transform;
        }
   }

   &:hover {
       
        .inner-text::before {
            transform: translate(0);
        }
   }

    &.internal-link {
        justify-content: center;
        background: color(page_background);
        font-size: px-to-rem(16px);
        font-weight: 500;
        color: color(secondary);
        transition: .3s color;

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }

        .detail-btn-pointer {
            margin-left: 8px;
        }
    
        &:hover {
            color: color(accent);
        }
    }
    
    &.external-link {
        font-weight: 300;
        color: color(accent);
    }

    .external-link-icon {
        margin-left: 10px;

        @media (min-width: breakpoint(sm)) {
            margin-left: 20px;
        }

        // @media (min-width: breakpoint(xxl)) {
        //     margin-left: 25px;
        // }
    
    }
}