
.split-text-cta__module {
    position: relative;
    font-family: $font_header_alt;

    .top {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 3px solid;
        padding-bottom: 3px;
        // margin-bottom: 3px;
    }

    .bottom {
        padding-top: 3px;
        position: relative;
        width: 100%;
    }

    .large-text-title {
        display: inline-block;
        font-size: px-to-rem(47px);
        line-height: 40px;
        font-weight: 900;
        color: color(primary);
        text-transform: uppercase;

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(65px);
            line-height: 60px;
            letter-spacing: 5px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(80px);
            line-height: 70px;
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(105px);
            letter-spacing: 8px;
            line-height: 90px;
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(122px);
            letter-spacing: 8px;
            line-height: 110px;
        }
    }

    .sub-title {
        position: relative;
        width: 140px;
        font-size: px-to-rem(14px);
        font-weight: 700;
        margin: 0 2px 0 6px;  

        @media (min-width: breakpoint(xs)) {
            margin: 0 4px 0 8px;
            // width: 180px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(16px);
            margin-bottom: 4px;
            width: auto;
            margin-left: 10px;
        }
    }

    .featured-title-pointer {
        margin-bottom: 12px;
        margin-right: 4px;

        @media (min-width: breakpoint(sm)) {
            margin-right: 10px;
        }

        @media (min-width: breakpoint(lg)) {
            position: relative;
            left: -20px;
            margin-bottom: 20px;
            // margin-kef
        }
    }

    &.is-link{
        overflow: hidden;

        &.disable-link {
            opacity: .3;
            cursor:unset
        }

        .bottom::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color(accent_transparent);
            z-index: -1;
            transform: translateX(-100%);
            // transition: .3s $custom_easing transform;
            transition: transform .4s cubic-bezier(.65,.15,0,1);
            transition-delay: .2s;
        }

        .top {
            .large-text-title {
                transition: .3s color;    
             }

             &::after {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: color(accent_transparent);
                z-index: -1;
                transform: translateX(100%);
                // transition: .3s $custom_easing transform;
                transition: transform .4s cubic-bezier(.65,.15,0,1);
                transition-delay: .2s;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                // left: 50%;
                width: 100%;
                // width: 0px;
                height: 3px;
                background-color: color(accent);
                transform: translateX(-100%);
                // transform: translateX(-50%);
                // transition: .3s $custom_easing transform;
                transition: transform .4s cubic-bezier(.65,.15,0,1);
                // transition: width .3s cubic-bezier(.65,.15,0,1);
                // transition-delay: .2s;
            }

        }

        // .sub-title {
        //     overflow: hidden;

            // &::before {
            //     content: '';
            //     position: absolute;
            //     bottom: 0px;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-color: color(accent_transparent);
            //     z-index: -1;
            //     transform: translateX(-100%);
            //     transition: .25s $custom_easing transform;
            //     transition-delay: .2s;
            // }
        // }

        &:hover:not(.disable-link) {
            .bottom::before {
                transform: translateX(0);
            }
            .top {
                // .large-text-title {
                //     color: color(accent);
                //  }
                &::before {
                    transform: translateX(0);
                    // width: 100%;
                }

                 &::after {
                    transform: translateX(0);
                }
                
                // .sub-title::before {
                //     transform: translateX(0);
                // }
            }
        }
    }

    &:not(.has-arrow) .sub-title {
        margin-right: 0 !important;
    }

    &.has-arrow {
        .sub-title {
            width: 130px;

            @media (min-width: breakpoint(sm)) {
                width: 190px;
                margin-left: 2px;
                margin-bottom: 4px;
            }

            @media (min-width: breakpoint(md)) {
                width: 210px;
                margin-left: -12px;
            }

            @media (min-width: breakpoint(lg)) {
                width: 260px;
            }

            @media (min-width: breakpoint(xl)) {
                width: auto;
                margin-left: 8px;
            }
        }

        .featured-title-pointer {

            @media (min-width: breakpoint(xl)) {
                position: absolute;
                left: unset;
                right: 0;
                top: 40px;
            }
        }
    }

    &.alt-colors {

        .large-text-title {
            color: color(accent);
        }
    }

    &.is-project-link {
        display: block;
        max-width: 223px;
        

        .top {
            justify-content: flex-end;
        }



        .year-and-text-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            width: auto;
            padding: 2px 15px 2px 5px;
        }

        .text-displacement-year-container {
            margin-bottom: -5px;
        }

        .text-displacement-year-text {
            font-size: px-to-rem(30px);
        }

        .large-text-title {
            font-size: px-to-rem(47px);
            line-height: 40px;
            word-break: break-all;
            flex: 1;
            letter-spacing: 0px;

            &.bottom {
                line-height: 48px;
                padding-top: 7px;
            }
        }

        .sub-title {
            color: color(accent);
            margin: 0;
            width: auto;
            font-size: px-to-rem(14px);
        }

        .featured-title-pointer {
            margin-right: 0;
            position: static;
            margin-bottom: 10px;
        }
    }
}