@mixin paddingLR ($px) {
    padding-left: $px;
    padding-right: $px;
}

@mixin marginCenter {
    margin-left: auto;
    margin-right: auto; 
}

@mixin setupContainerBreakpoint($breakpoint) {
    @include paddingLR(getContainerValue($breakpoint, 'padding'));
    @include marginCenter();

    @if (getContainerValue($breakpoint, max_width)) {
        max-width: getContainerValue($breakpoint, max_width);
    }
}

@mixin webFont {
    font-family: $font_base;
}