
.header__module {
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 1;

    @media (min-width: breakpoint(xs)) {
        top: 200px;
    }

    &.mobile-nav-fixed {
        display: none;
    }

    .navigation {
        display: none;
    }

    .mobile-menu-btn {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -10px;
        background-color: color(background_alt);
        box-shadow: 18px 18px 20px #24262B, -18px -18px 20px #30343A;
        border-radius: 20px;
        padding: 22px 32px 22px 32px;
        color: color(primary);
        text-transform: uppercase;

        .active-section {
            color: color(accent_transparent);

            &::before {
                content: '';
                display: block;
                height: 3px;
                width: 100%;
                background-color: color(secondary);
                opacity: .7;
                margin: 5px 0 6px 0;
            }
        }
    }
}