
.header__module {
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 5;

    @media (min-width: breakpoint(xs)) {
        top: 200px;
    }

    @media (min-width: breakpoint(sm)) {
        top: 250px;
    }

    @media (min-width: breakpoint(md)) {
        top: 295px;
    }

    @media (min-width: breakpoint(lg)) {
        top: 270px;
        // top: 0;
    }

    @media (min-width: breakpoint(xl)) {
        top: 0;
    }

    @media (min-width: breakpoint(xxl)) {
        // top: 295px;
    }

   

    // .fixed-overflow-hidden {
    //     position: fixed;
     
    //     @media (min-width: #{$page_container_max_width}) {
    //         position: fixed;
    //         left: calc(50% - #{$page_container_max_width} / 2 - 10px);
    //         width: 112px;
    //         overflow: hidden;
    //     }    
    // }
    .navigation-overflow-wrapper {
        // position: fixed;
        // top: 75px;
        // left: 0;
        // overflow-x: hidden;
        // padding: 30px 20px 30px 0;
        // left: -10px;

        @media (min-width: #{$page_container_max_width}) {
            // position: fixed;
            // top: 80px;
            top: 0;
            left: 0;
            // overflow-x: hidden;
            padding: 30px 20px 30px 0;
           

            &.stationary {
                position: absolute;
                top: 55px;
            }

            &.scrollable {
                position: fixed;
                left: calc(50% - #{$page_container_max_width} / 2);
            }
        }
    }

    .navigation {
        position: fixed;
        top: 75px;
        left: 0;
        display: flex;
       
        justify-content: center;
        align-items: center;
        background: color(background_alt);
     
        box-shadow: 18px 18px 20px #24262B, -18px -18px 20px #30343A;
        border-radius: 20px;
        transform: translateX(-130%);
        transition: .2s $custom_animation transform;

        @media (min-width: breakpoint(xs)) {
            top: 100px;
        }

        @media (min-width: breakpoint(xl)) {
            // top: 100px;

            transform: translateX(0);     
        }

        // @media (min-width: #{$page_container_max_width}) {
        //     position: static;
        // }


       
        
        &.stationary {
            flex-direction: column;
            width: 112px;
            height: 420px;
            
            @media (min-width: breakpoint(xl)) {
                position: absolute;
                // opacity: 0;
                opacity: 1;
                // transform: translateX(-50%);
                transition: .2s opacity $custom_easing, .2s transform $custom_easing;
                transition-delay: .1s;
            }

            @media (min-width: #{$page_container_max_width}) {
                position: static;
            }

            @media (min-width: breakpoint(xxl)) {
                width: 122px;
                height: 480px;
            }

            li { 
                display: table;
                
                .nav-item-outer-wrapper {
                    justify-content: center;
                    padding: 50% 0 ;
                    height: 0;
                }
    
               &::after {
                   content: '';
                   display: block;
                   width: 45px;
                   margin: 4px auto;
                   border-bottom: 3px solid rgba(color(secondary), .7);
               }
    
               &:last-of-type::after {
                    display: none;
               }  
            }

            a {
                // display: block;
                transform-origin: top left;
                position: relative;
                transform: rotate(-90deg) translate(-100%);
                left: calc(50% - 8px); 
                margin-top: -50%;
                white-space: nowrap;
                color: rgba(color(secondary), .7);
                // font-size: px-to-rem(16px);
                // font-weight: 500;
                // color: rgba(color(secondary), .7);
                // text-transform: lowercase;
                // add transition on tablet
                // transition: .35s $custom_animation;
                text-align: center;
    
                @media (min-width: breakpoint(sm)) {
                    // transition: .35s $custom_animation;
                }
    
    
                // @media (min-width: breakpoint(xxl)) {
                //     font-size: px-to-rem(18px);
                // }
            }

            .nav-item-outer-wrapper.active a {
                margin-top: 0;
                left: 50%;
                transform: rotate(0deg) translateY(-50%) translateX(-50%);
                font-weight: 700;
                color: color(primary);
            }
            
        }

        &.scrollable {
            display: none;
            flex-direction: row;
            padding: 35px 50px;
            top: 20px;
            left: 20px;
            z-index: 2;
            transform: translateY(-20px);
            opacity: 0;
            transition: .3s opacity $custom_easing, .3s transform $custom_easing;

            @media (min-width: breakpoint(xl)) {
                display: flex;
            }

            @media (min-width: breakpoint(xxl)) {
                padding: 40px 60px;
            }

            @media (min-width: #{$page_container_max_width}) {
                position: static;
            }

            a {
                color: color(primary);
                opacity: .5;
                transition: .25s opacity;
                margin-right: 20px;


                @media (min-width: breakpoint(xxl)) {
                    margin-right: 25px;
                }
            }

            .number {
                display: inline-block;
                margin-right: 5px;
                color: rgba(color(accent), .6);
            }
            
            .nav-item-outer-wrapper.active {
            
                a {
                    opacity: 1;
                }
            }
        }


        a {
            display: block;
            // transform-origin: top left;
            // position: relative;
            // transform: rotate(-90deg) translate(-100%);
            // left: calc(50% - 8px); 
            // margin-top: -50%;
            white-space: nowrap;
            font-size: px-to-rem(16px);
            font-weight: 500;
            
            text-transform: lowercase;
            // add transition on tablet
            // transition: .35s $custom_animation;
            text-align: center;

            @media (min-width: breakpoint(sm)) {
                // transition: .35s $custom_animation;
            }


            @media (min-width: breakpoint(xxl)) {
                font-size: px-to-rem(18px);
            }
        }

      
    }

    .mobile-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(color(page_background), .8);
        visibility: hidden;
        transition: .15s ease opacity, .15s visibility;
    }

    .mobile-menu-btn-scrollable-wrapper {
        position: fixed;
        top: -10px;
        overflow-x: hidden;
        padding: 30px 20px 30px 0;
        // left: -10px;
    }

    .mobile-menu-btn {
        
        position: relative;
        left: -10px;
        background-color: color(background_alt);
        box-shadow: 18px 18px 20px #24262B, -18px -18px 20px #30343A;
        border-radius: 20px;
        padding: 22px 32px 22px 32px;
        color: color(primary);
        transform: translateX(0);
        text-transform: uppercase;
        font-size: px-to-rem(16px);
        transition: .15s $custom_animation transform .125s;
        cursor: pointer;
        z-index: 1;

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(20px);
        }

        @media (min-width: breakpoint(xl)) {
            display: none;
        }

        &.scrollable {
            // position: fixed;
            // top: 10px;
            // left: -10px;
            transform: translateX(-110%);
            transition: .15s $custom_animation transform .125s, .1s ease-in-out max-width, .1s ease-in-out min-width;

            // @media (min-width: #{$page_container_max_width}) {
            //     left: calc(50% - #{$page_container_max_width} / 2 - 10px)
            // }
        }

        // @media (min-width: breakpoint(sm)) {
        //     display: none;
        // }

        .inner-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;
            width: 100%;
        }

        // animating width / content changes with max-width / min-width;
        // TODO -- maybe animate with JS if this becomes hard to maintain?
        
        &.Home {
            min-width: 105px;
            max-width: 115px;

            @media (min-width: breakpoint(lg)) {
                min-width: 120px;
                max-width: 130px;    
            }
        }

        &.Experience {
            min-width: 153px;
            max-width: 163px;

            @media (min-width: breakpoint(lg)) {
                min-width: 170px;
                max-width: 180px;    
            }
        }

        &.Projects {
            min-width: 138px;
            max-width: 148px;

            @media (min-width: breakpoint(lg)) {
                min-width: 155px;
                max-width: 166px;    
            }
        }

        &.About {
            min-width: 113px;
            max-width: 123px;

            @media (min-width: breakpoint(lg)) {
                min-width: 125px;
                max-width: 135px;    
            }
        }

        &.Contact {
            min-width: 133px;
            max-width: 143px;

            @media (min-width: breakpoint(lg)) {
                min-width: 150px;
                max-width: 160px;    
            }
        }

        .line-seperator {
            display: block;
            height: 3px;
            width: 300px;
            max-width: 100vw;
            background-color: color(secondary);
            opacity: .7;
            margin: 5px 0 6px 0;
        }

        .mobile-menu-breadcrumb {
            color: color(accent_transparent);
        }
    }

    // &.mobile-nav-fixed .mobile-menu-btn {
    //     &.not-scrollable {
    //         transform: translateX(-100%);
    //         transition-delay: .55s;
    //     }
        

    //     &.scrollable {
    //         transform: translateX(0);
    //     }
        
    // }
    &.mobile-nav-fixed {
        // top: 10px;
        // position: fixed;

        .mobile-menu-btn.scrollable {
            // position: fixed;
            // top: 10px;
            transform: translateX(0);
        }
        
        .mobile-menu-btn.stationary {
            transform: translateX(-110%);
        }

        .navigation.scrollable {
            transform: translateY(0);
            opacity: 1;
        }

        .navigation.stationary {

            @media (min-width: breakpoint(xl)) {
                transform: translateX(-10px) !important;
                opacity: 0;
            }
        }
    }

    &.mobile-menu-swapping {
        .mobile-menu-btn.stationary {
            transform: translateX(-110%) !important;
        }

        .navigation.stationary {

            @media (min-width: breakpoint(xl)) {
                transform: translateX(-10px) !important;
                opacity: 0;
            }
        }
       
    }

    &.mobile-nav-open {

        .mobile-menu-btn {
            transform: translateX(-110%) !important;
            transition-delay: 0s;
        }

        .navigation {
            transform: translate(0);
            transition-delay: .1s;
        }  

        .mobile-overlay {
            opacity: 1;
            visibility: visible;
            transition-delay: .1s;
        }

        
    }
}