
.close-button__module {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 14px;
    border-radius: 50%;
    background-color: color(background_alt);
    cursor: pointer;

    .close-button-icon {
        min-width: 8px;
        max-width: 100%;
        height: auto;

        @media (min-width: breakpoint(xxl)) {
            min-width: 10px;
        }
    }
}