
.text-title-cta__module {
    position: relative;
    font-family: $font_header_alt;

    .top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 3px solid;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }

    .large-text-title {
        display: inline-block;
        font-size: px-to-rem(47px);
        line-height: 40px;
        font-weight: 900;
        color: color(primary);
        text-transform: uppercase;

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(65px);
            line-height: 60px;
            letter-spacing: 5px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(80px);
            line-height: 70px;
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(105px);
            letter-spacing: 8px;
            line-height: 90px;
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(122px);
            letter-spacing: 8px;
            line-height: 110px;
        }
    }

    .sub-title {
        width: 140px;
        font-size: px-to-rem(14px);
        font-weight: 700;
        margin: 0 2px 0 6px;  

        @media (min-width: breakpoint(xs)) {
            margin: 0 4px 0 8px;
            // width: 180px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(16px);
            margin-bottom: 4px;
            width: auto;
            margin-left: 10px;
        }
    }

    .featured-title-pointer {
        margin-bottom: 12px;
        margin-right: 4px;

        @media (min-width: breakpoint(sm)) {
            margin-right: 10px;
        }

        @media (min-width: breakpoint(lg)) {
            position: relative;
            left: -20px;
            margin-bottom: 20px;
            // margin-kef
        }
    }

    &:not(.has-arrow) .sub-title {
        margin-right: 0 !important;
    }

    &.has-arrow {
        .sub-title {
            width: 130px;

            @media (min-width: breakpoint(sm)) {
                width: 190px;
                margin-left: 2px;
                margin-bottom: 4px;
            }

            @media (min-width: breakpoint(md)) {
                width: 210px;
                margin-left: -12px;
            }

            @media (min-width: breakpoint(lg)) {
                width: 260px;
            }

            @media (min-width: breakpoint(xl)) {
                width: auto;
                margin-left: 8px;
            }
        }

        .featured-title-pointer {

            @media (min-width: breakpoint(xl)) {
                position: absolute;
                left: unset;
                right: 0;
                top: 40px;
            }
        }
    }

    &.alt-colors {

        .large-text-title {
            color: color(accent);
        }
    }
}