@keyframes exitScreen {
    100% {
      transform: translate(-9999px);
    }
}

// .fade-up-enter-done {
//   transition: opacity 350ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);

// }

// .fade-up-enter-active {
//   opacity: 1;
//   transform: translateY(0px);
//   transition: opacity 350ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
// }

// .fade-up-enter {
//   opacity: 0.01;
//   transform: translateY(20px);
//   // transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
// }

.fade-up, .fade-up__mount, .fade-up__scoped {
  opacity: .01;
  transform: translateY(20px);
}



.activate-animations__mount.fade-up__mount, .activate-animations__mount .fade-up__mount, .activate-animations__scoped .fade-up__scoped {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 450ms $custom_easing, transform 450ms $custom_easing;
}

// .fade-up-slow__mount