

.page-width-container { // this wraps all page templates
    max-width: 1650px;
    margin: 0 auto;
}

.page-content-container { // this wraps all page templates
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: breakpoint(xs)) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: breakpoint(sm)) {
        max-width: 735px;
    }

    @media (min-width: breakpoint(md)) {
        max-width: 875px;
    }

    @media (min-width: breakpoint(lg)) {
        // padding-left: 125px;
        padding-left: 140px;
        max-width: 1280px;
    }

    @media (min-width: breakpoint(xl)) {
        padding-left: 150px;
    }

    @media (min-width: breakpoint(xxl)) {
        max-width: 1400px;
    }
}


.content-page-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: breakpoint(xs)) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: breakpoint(sm)) {
        padding-left: 112px;
        max-width: 735px;
    }

    @media (min-width: breakpoint(md)) {
        max-width: 875px;
    }

    @media (min-width: breakpoint(lg)) {
        // padding-left: 125px;
        padding-left: 140px;
        padding-right: 125px;
        max-width: 1300px;
    }

    @media (min-width: breakpoint(xl)) {
        padding-left: 150px;
    }

    &.container-vertical-spacer {
        margin-top: 25px;

        @media (min-width: breakpoint(xs)) {
            margin-top: 40px;
        }
    
        @media (min-width: breakpoint(sm)) {
            margin-bottom: 30px;
            margin-top: 60px;
        }
    
        @media (min-width: breakpoint(md)) {
            margin-bottom: 50px;
            margin-top: 80px;
        }
    
        @media (min-width: breakpoint(lg)) {
            margin-bottom: 75px;
            margin-top: 100px;
        }
    
        @media (min-width: breakpoint(xl)) {
            margin-bottom: 100px;
            margin-top: 115px;
        }
    }
}
