.module-spacer {
    margin-top: moduleSpacer(xs);
    margin-bottom: moduleSpacer(xs);

    @media (min-width: breakpoint(sm)) {
        margin-top: moduleSpacer(sm);
        margin-bottom: moduleSpacer(sm);
    }

    @media (min-width: breakpoint(md)) {
        margin-top: moduleSpacer(md);
        margin-bottom: moduleSpacer(md);
    }

    @media (min-width: breakpoint(lg)) {
        margin-top: moduleSpacer(lg);
        margin-bottom: moduleSpacer(lg);
    }

    @media (min-width: breakpoint(xl)) {
        margin-top: moduleSpacer(xl);
        margin-bottom: moduleSpacer(xl);
    }
}

.module-spacer-inner {
    padding-top: moduleSpacer(xs);
    padding-bottom: moduleSpacer(xs);

    @media (min-width: breakpoint(sm)) {
        padding-top: moduleSpacer(sm);
        padding-bottom: moduleSpacer(sm);
    }

    @media (min-width: breakpoint(md)) {
        padding-top: moduleSpacer(md);
        padding-bottom: moduleSpacer(md);
    }

    @media (min-width: breakpoint(lg)) {
        padding-top: moduleSpacer(lg);
        padding-bottom: moduleSpacer(lg);
    }

    @media (min-width: breakpoint(xl)) {
        padding-top: moduleSpacer(xl);
        padding-bottom: moduleSpacer(xl);
    }
}

.module-spacer-inner-large {
    padding-top: moduleSpacerLarge(xs);
    padding-bottom: moduleSpacerLarge(xs);

    @media (min-width: breakpoint(sm)) {
        padding-top: moduleSpacerLarge(sm);
        padding-bottom: moduleSpacerLarge(sm);
    }

    @media (min-width: breakpoint(md)) {
        padding-top: moduleSpacerLarge(md);
        padding-bottom: moduleSpacerLarge(md);
    }

    @media (min-width: breakpoint(lg)) {
        padding-top: moduleSpacerLarge(lg);
        padding-bottom: moduleSpacerLarge(lg);
    }

    @media (min-width: breakpoint(xl)) {
        padding-top: moduleSpacerLarge(xl);
        padding-bottom: moduleSpacerLarge(xl);
    }
}