// ********************************************************
// ********************************************************
// **
// **  theme wide styles
// **
// ********************************************************
// ********************************************************


body {
    @include webFont;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: color(secondary);
    background-color: color(page_background);
}

a {
    color: color(secondary);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

strong {
    font-weight: bold;
}