
.social-icons__module {
    display: flex;

    li {
        margin-right: 11px;

        img {
            width: 24px;

            @media (min-width: breakpoint(xl)) {
                width: 32px;
            }
        }
        
        &:last-of-type {
            margin: 0;
        }
    }
}