
.hero__module {
    position: relative;
    z-index: 1;
    
    .hero-image {
        display: block;
        width: 100%;
        height: 200px;
        max-width: 1525px;
        margin-left: auto;
        margin-right: auto;

        @media(min-width: breakpoint(xs)) {
            height: 250px;
        }

        @media (min-width: breakpoint(sm)) {
            height: 300px;
        }

        @media (min-width: breakpoint(md)) {
            height: 345px;
        }

        @media (min-width: breakpoint(lg)) {
            height: 320px;
        }

        @media (min-width: breakpoint(xxl)) {
            height: 345px;
        }

        > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .hero-mobile {

        @media (min-width: breakpoint(sm)) {
            display: none;
        }
    }

    .hero-tablet {
        display: none;

        @media (min-width: breakpoint(sm)) {
            display: block;
        }

        @media (min-width: breakpoint(lg)) {
            display: none;
        }
    }

    .hero-desktop {
        display: none;

        @media (min-width: breakpoint(lg)) {
            display: block;
        }
    }

    .text-cta {
        margin-top: 130px;
        margin-right: -10px;

        @media(min-width: breakpoint(xs)) {
            margin-top: 180px;
        }

        @media (min-width: breakpoint(sm)) {
            display: flex;
            flex-direction: column;
            margin-right: 0;
            margin-top: 125px;
        }

        @media (min-width: breakpoint(lg)) {
            margin-top: 150px;
        }
        
    }

    // max-height setter
    .cta-sizing {
        margin-left: auto;
        max-width: 245px;

        @media (min-width: breakpoint(sm)) {
            max-width: unset;   
        }
    }

    .title, .sub-title {
        color: color(primary);
    }

    .title {
        display: block;
        margin-left: auto;
        font-size: px-to-rem(47px);
        line-height: 47px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: $font_header_alt;
        letter-spacing: 3px;
        text-align: right;
        margin-bottom: 2px;

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(70px);
            line-height: 70px;
            margin-bottom: -4px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(90px);
            line-height: 90px;
            margin-bottom: -6px;
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(110px);
            line-height: 110px;
            margin-bottom: -8px;
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(122px);
            line-height: 122px;
            margin-bottom: -10px;
        }

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(134px);
            line-height: 134px;
            margin-bottom: -12px;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 3px;
            border-radius: 50%;
            background-color: color(primary);

            @media (min-width: breakpoint(sm)) {
                width: 22px;
                height: 22px;
            }

            @media (min-width: breakpoint(md)) {
                width: 26px;
                height: 26px;
            }

            @media (min-width: breakpoint(md)) {
                width: 30px;
                height: 30px;
            }

            @media (min-width: breakpoint(xxl)) {
                width: 34px;
                height: 34px;
            }
        }
    }

    .sub-title {
        font-size: px-to-rem(20px);
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;

        @media (min-width: breakpoint(sm)) {
            font-size: px-to-rem(18px);
            border-bottom: 3px solid rgba(color(primary), .7);
            padding-left: 5px;
            padding-bottom: 5px;
        }

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(22px);
            
        }

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(26px);
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(30px);
        }

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(34px);
        }
    }


    .text-cta-bottom-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        @media (min-width: breakpoint(sm)) {
            flex-direction: row;

        }

        .skill {
            display: flex;
            align-items: center;
            justify-content: center;
            // padding: 1rem 0;
            height: 100%;
            font-size: px-to-rem(16px);
            font-weight: 700;
            color: color(accent);
            // height: 40px;
            padding: 12px 0;
            border-right: 3px solid rgba(color(primary), .7);

            

            @media (min-width: breakpoint(sm)) {
                border-left: 3px solid rgba(color(primary), .7);
                border-right: none;
                font-size: px-to-rem(14px);
            }

            @media (min-width: breakpoint(md)) {  
                font-size: px-to-rem(16px);
            }

            @media (min-width: breakpoint(xxl)) {
                font-size: px-to-rem(18px);
            }


            &:last-of-type {
                border-right: none;
            }
        }

        .row-one, .row-two {
            
            border-top: 3px solid rgba(color(primary), .7);
            display: flex;
            align-items: flex-start;

            @media (min-width: breakpoint(sm)) {
                border-top: none;
            }
        }

        .row-one {

            .social-icons {
                flex: 1;
                padding-top: 8px;

                @media (min-width: breakpoint(sm)) {
                    padding-right: 7px;
                    padding-top: 20px;
                }

                @media (min-width: breakpoint(lg)) {
                    padding-right: 16px;
                } 

                @media (min-width: breakpoint(xl)) {
                    padding-top: 15px;
                }

                .social-icon {

                    @media (min-width: breakpoint(xl)) {
                        width: 32px;
                    }

                    @media (min-width: breakpoint(xl)) {
                        width: 36px;
                        margin-right: 5px;
                    }
                }
            }
            
            .skill {
                justify-content: flex-end;
                width: 57%;
                padding-bottom: 5px;
                border-left: 3px solid rgba(color(primary), .7);

                @media (min-width: breakpoint(sm)) {
                    width: auto;
                    padding: 25px 7px 15px 7px;
                    border-left: 3px solid rgba(color(primary), .7);
                    border-right: none;
                } 

                @media (min-width: breakpoint(lg)) {
                    padding: 25px 16px 15px 16px;
                } 
            }
        }

        .row-two {
            
            .skill {
                width: 28%;
                @media (min-width: breakpoint(sm)) {
                    width: auto;
                    padding: 25px 7px 15px 7px;
                    border-left: 3px solid rgba(color(primary), .7);
                    border-right: none;
                } 

                @media (min-width: breakpoint(lg)) {
                    padding: 25px 16px 15px 16px;
                } 
                // @media (min-width: breakpoint(sm)) {
                //     width: auto;
                //     padding: 20px 5px;
                // }
            }

            .skill.larger-mobile {
                flex: 1;
                width: auto;
            }
        }
    }


   
}