
.featured-projects__module {
    margin-top: 60px;
    margin-bottom: 60px;

    .titles-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .section-titles {
        position: relative;
        top: -15px;
    }

    .text-title-cta {
        font-family: $font_header_alt;

        .top {
            display: flex;
            align-items: flex-end;
            border-bottom: 3px solid;
            padding-bottom: 3px;
            margin-bottom: 3px;
        }

        .large-text-title {
            display: inline-block;
            font-size: px-to-rem(47px);
            line-height: 40px;
            font-weight: 900;
            color: color(primary);
            text-transform: uppercase;
        }

        .sub-title {
            width: 130px;
            font-size: px-to-rem(14px);
            font-weight: 700;
            margin: 0 2px 0 6px;

            @media (min-width: breakpoint(xs)) {
                margin: 0 4px 0 8px;
            }
        }
    }

    .pointer {
        position: relative;
        width: 24px;
        height: 24px;
        margin-bottom: 12px;
        margin-right: 4px;

        &::before, &::after {
            content: '';  
            width: 16px;       
        }

        .middle-line, &::before, &::after {
            position: absolute;
            right: 0;  
            height: 3px;
            background: color(primary);
           
        }

        &::before {
            top: 6px;
            right: -4px;
            transform: rotate(45deg);
        }

        .middle-line {
            width: 21px;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            bottom: 6px;
            right: -4px;
            transform: rotate(-45deg);
        }
    }
}