
.featured-projects__module {
    margin-top: 60px;
    margin-bottom: 60px;

    .titles-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .section-titles {
        position: relative;
        top: -15px;
    }

    .featured-title-pointer {
        margin-bottom: 12px;
        margin-right: 4px;
    }

    .view-all-button {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
        margin-top: 25px;
        font-size: px-to-rem(16px);
        font-weight: 700;
        color: color(page_background);
        background: color(primary);
    }
}