
.featured-projects__module {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;

    @media (min-width: breakpoint(sm)) {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    @media (min-width: breakpoint(lg)) {
        padding-left: 200px;
        margin-top: 100px;
        margin-bottom: 110px;
    }

    @media (min-width: breakpoint(xl)) {
        padding-left: 210px;
    }

    .titles-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 25px;

        @media (min-width: breakpoint(sm)) {
            max-width: 500px;
        }

        @media (min-width: breakpoint(md)) {
            max-width: 550px;
        }

        @media (min-width: breakpoint(lg)) {
            margin-left: 25px;
        }

        @media (min-width: breakpoint(xl)) {
            margin-left: 50px;
            margin-bottom: 50px;
        }
    }

    .section-titles {
        position: relative;
        top: -15px;

        @media (min-width: breakpoint(sm)) {
            top: 0;
        }

        @media (min-width: breakpoint(lg)) {
            position: absolute;
            left: 0;
            top: -35px;
        }

        @media (min-width: breakpoint(xl)) {
            top: -50px;
        }
    }

   

    .view-all-button {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
        margin-top: 25px;
        font-size: px-to-rem(16px);
        font-weight: 700;
        color: color(page_background);
        background: color(primary);

        @media (min-width: breakpoint(sm)) {
            margin-top: 0px;
            padding: 10px 1rem;
        }

        .text {
            margin-right: 10px;
        }
    }
}