
.text-displacement__module {
    position: relative;
    // top: 30%;
    font-family: $font_header_alt;
    // margin-bottom: 6px;
    margin-top: 0;
    font-size: px-to-rem(30px);
    font-weight: 800;
    overflow: hidden;
    // margin
    transform: translateY(-30%);


    // @media (min-width: breakpoint(sm)) {
    //     margin-left: 60px;
    //     margin-bottom: 8px;
    // }

    @media (min-width: breakpoint(md)) {
        // margin-left: 80px;
        font-size: px-to-rem(35px);
    }

    @media (min-width: breakpoint(xl)) {
        font-size: px-to-rem(42px);
    }

    .inner-text-container {
        display: block;
        transform: translateY(40%);

        // @media (min-width: breakpoint(md)) {
        //     transform: translateY(17px);
        // }

        // @media (min-width: breakpoint(xl)) {
        //     transform: translateY(18px);
        // }
    }
}