
.text-displacement__module {
    position: relative;
    font-family: $font_header_alt;
    font-weight: 800;
    overflow: hidden;
    transform: translateY(-30%);

    .inner-text-container {
        display: block;
        transform: translateY(40%);
        font-size: px-to-rem(30px);

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(35px);
        }
    
        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(42px);
        }
    }
}