
a:hover .jr-pointer__module {
    transform: translateX(10px);   
    color: color(accent) 
}

 .jr-pointer__module {
    position: relative;
    width: 24px;
    height: 24px;
    transform: translateX(0px);
    transition: .3s transform;

    @media (min-width: breakpoint(sm)) {
        width: 28px;
        height: 28px;
    }

    @media (min-width: breakpoint(md)) {
        width: 32px;
        height: 32px;
    }
    

    &::before, &::after {
        content: '';  
        width: 16px;  

        @media (min-width: breakpoint(sm)) {
            width: 18px;
        }
        
        @media (min-width: breakpoint(md)) { 
            width: 20px;
        }
    }

    .middle-line {
        width: 21px;

        @media (min-width: breakpoint(sm)) {
            width: 26px;
        }

        @media (min-width: breakpoint(md)) {
            width: 32px;
        }
    }

    .middle-line, &::before, &::after {
        position: absolute;
        right: 0;  
        height: 4px;
        background: color(secondary);
       
    }

    &::before {
        top: 6px;
        right: -4px;
        transform: rotate(45deg);

        @media (min-width: breakpoint(md)) {
            // top: 2px;
            top: 7px;
            right: -2px;
        }
    }

    .middle-line {
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        bottom: 6px;
        right: -4px;
        transform: rotate(-45deg);

        @media (min-width: breakpoint(md)) {
            // bottom: 2px;
            bottom: 7px;
            right: -2px;
        }
    }

    &.alt-color {
        .middle-line, &::before, &::after {
            background: color(page_background);    
        }
    }

    &.small {
        width: 16px;
        height: 16px;

        .middle-line, &::before, &::after {
            height: 2px;
        }

        &::before, &::after {
            content: '';  
            width: 10px;       
        }  

        &::before {
            top: 4px;
            right: -3px;
        }

        .middle-line {
            width: 15px;
        }

        &::after {
            bottom: 4px;
            right: -3px;
        }
    }
}