
$card_border: 3px solid rgba(color(secondary), .7);

.sal-animate .featured-project-card__module .project-description {
    // BUG --- "data-sal" wouldn't trigger on scroll unless this started out as
    // "display: none"
    // no idea why -- scroll plugin has react compatability issues
    display: block;
}

.featured-project-card__module {

    @media (min-width: breakpoint(sm)) {
        display: flex;
    }

    &:nth-of-type(2n) {
        @media (min-width: breakpoint(sm)) {
            flex-direction: row-reverse;
        }
    }

    .project-top-section {
        // min-height: 150px;
        padding: 0 10px;
        border-top: $card_border;

        @media (min-width: breakpoint(sm)) {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 180px;
        }

        @media (min-width: breakpoint(md)) {
            // padding-top: 30px;
            // padding-bottom: 30px;
        }
    }

    .project-bottom-section {
        position: relative;
        border-top: $card_border;
        min-height: 162px;
        display: flex;
        justify-content: flex-end;
    }

    .project-title, .project-title a {
        // margin-left: 5px;
        font-size: px-to-rem(16px);
        font-weight: 800;
        color: color(accent);
        margin: 10px 0 6px 5px;

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(22px);
            margin-left: 2px;
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(23px);
        }

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(25px);
        }

        a {
            @media (min-width: breakpoint(md)) {
               display: flex;
            }
        }

        img {
            margin-left: 10px;
            
            @media (min-width: breakpoint(md)) {
                width: 18px;
            }
        }
    }

    .project-description {
        // BUG --- "data-sal" wouldn't trigger on scroll unless this started out as
        // "display: none"
        // no idea why -- scroll plugin has react compatability issues
        display: none;
        font-size: px-to-rem(14px);
        margin: 6px 0 12px 0;
        font-weight: 300;

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(16px);
            margin-left: 6px;
        }

        @media (min-width: breakpoint(xl)) {
            font-size: px-to-rem(18px);
        }

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(20px);
        }
    }

    .project-year-container {
        position: relative;
        width: 40px;
        border-left: $card_border;

        @media (min-width: breakpoint(xxl)) {
            width: 50px;
        }
    }

    .project-year-text {
        display: block;
        position: absolute;
        top: 30px;
        left: -2px;
        transform: rotate(-90deg);
        font-size: px-to-rem(16px);
        font-weight: 700;

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }
    }

    .project-skills {
        display: flex;
        font-size: px-to-rem(16px);
        font-weight: 700;
        color: color(accent);

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }

        li {
            padding: 30px 8px;
            height: 100%;
            border-left: $card_border;
        }
    }

    .project-details-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 28px;
        left: 0;
        width: 100%;
        height: 58px;
        background: color(page_background);
        font-size: px-to-rem(16px);
        font-weight: 500;
        font-style: italic;
        color: color(secondary);

        @media (min-width: breakpoint(xxl)) {
            font-size: px-to-rem(18px);
        }

        .detail-btn-pointer {
            margin-left: 8px;
        }

        
    }

    &:nth-of-type(2n) {
        
        .project-bottom-section {
            flex-direction: row-reverse;
            justify-content: flex-start;
        }

        .project-skills li {
            border-left: none;
            border-right: $card_border;
        }

        .project-year-container {
            border-left: none;

            @media (min-width: breakpoint(sm)) {
                border-right: $card_border;
            }
        }
    }
}